<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410377860705-8ohuaqs07hp3fepd2hnkgtrakum9ekdm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410377860705-8ohuaqs07hp3fepd2hnkgtrakum9ekdm</string>
	<key>API_KEY</key>
	<string>AIzaSyAF3MVz2XhHPOAZV6Yr936L7A2uNYLwwuE</string>
	<key>GCM_SENDER_ID</key>
	<string>410377860705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthBloc</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-bloc-202304030046</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-bloc-202304030046.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410377860705:ios:349b1b66b934c8c47d5c20</string>
</dict>
</plist>